@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-progressbar-fill {
  background: #facebc !important;
}

.swiper-pagination-progressbar {
  top: unset !important;
  bottom: 0 !important;
  background: transparent !important;
}

.w-mainsection {
  width: calc(100vw - 256px);
}
