# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL=postgresql://postgres:ua8Y7d5ZcEicLtoSSY33@codecoco-db.concdzhzbiox.us-east-1.rds.amazonaws.com/codecoco_db?schema=public
DATABASE_URL=postgresql://postgres:1234@localhost:5432/codecoco_dev?schema=public
# DATABASE_URL=postgres://DewinU:FdWou6cJK0jL@ep-winter-block-043857.us-east-2.aws.neon.tech/neondb?schema=public
NEXTAUTH_SECRET=ZBImYVlaJE6UGlivecIoaynoYK3PHBNZ4uWndYxZ3No=
GITHUB_CLIENT_ID=Iv1.15b80ac278b1398f
GITHUB_CLIENT_SECRET=bb94fe284d247b25c2fd57203f388748e3c314ac
NEXTAUTH_URL=http://localhost:3000
FACEBOOK_CLIENT_ID=1131452887768966
FACEBOOK_CLIENT_SECRET=de7659e9d492216ab74fb37c77c1979a
FACEBOOK_GRAPH_VERSION=v17.0
TIKTOK_CLIENT_KEY=awp087dsnztb734a
TIKTOK_CLIENT_SECRET=9e71643c6342419add952ad7bccf243f
GOOGLE_CLIENT_ID=164711234418-3eurau3ij5bssonr9fh0arb7v28kf4mt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
AWS_ACCESS_KEY_ID=AKIA2S2TY5RR67437Z3H
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
S3_BUCKET_NAME=golabsdewinu
BUSINESS_ID_DEWIN=17841455364221566
BUSINESS_TOKEN_DEWIN=EAAR5U6jL0JcBO2CZAuJ90w0zLuBo1TGu9ZAMeIIZCIbZAFmfVfG35WNIEVZBUufy0UIN1I0ownqLakrYzCZCZBhRV6X0uTc467fExTpVRVr64Ezm1XhZA8MFKvWjcRjAgg4HkO03kwuXSHcxUM0QjVsSm6ZAEyfex5U9LNJu4OOydJSprLHwYbwms5ZCOTuBIjsHS8FGEhs6ZCI
BUSINESS_ID_SOPHIA=
BUSINESS_TOKEN_SOPHIA=
#SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=umana.dewin@gmail.com
SMTP_PASSWORD=ubnwymglkpjsmhbz