# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=test
NEXTAUTH_SECRET=test
BUSINESS_ID=1234
BUSINESS_TOKEN=1234
BUSINESS_SOPHIA=1234
BUSINESS_TOKEN_SOPHIA=1234
GITHUB_CLIENT_ID=test
GITHUB_CLIENT_SECRET=test
NEXT_PUBLIC_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
FACEBOOK_CLIENT_ID=test
FACEBOOK_CLIENT_SECRET=test
INSTAGRAM_CLIENT_ID=test
INSTAGRAM_CLIENT_SECRET=test