@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-progressbar-fill{
    background: #FACEBC !important;
    bottom: 0 !important;
}

.swiper-pagination-progressbar{
    top: unset !important;
    bottom: 0 !important;
    background: transparent !important;
}